<mat-toolbar color="primary" class="mat-elevation-z6 app-toolbar">
      <span>Movie Cruiser</span>
      <button mat-button [routerLink]="['/movies/popular']">Popular Movies</button>    
      <button mat-button [routerLink]="['/movies/toprated']">Top Rated Movies</button>
      <button mat-button [routerLink]="['/movies/watchlist']">Watchlist</button>
      <app-search-box></app-search-box>
      <span class="fill-space"></span>
      <button mat-button (click)="logout()">Logout</button>
  </mat-toolbar>
  <router-outlet></router-outlet>