<!-- <mat-form-field>
	<input matInput type="search" [(ngModel)]="searchText" id="txtSearch">
<button mat-raised-button (click)="onSearch()" type="submit" color="primary" id="btnSearch">Search</button>
</mat-form-field> -->

 <div class="input-group">
        <input class="form-control form-control-sm" type="text" placeholder="Search" aria-label="Search" [(ngModel)]="searchText" id="txtSearch">
		<!-- <button class="my-2 my-sm-0" mat-flat-button (click)="onSearch()" type="submit" color="primary" id="btnSearch"><i class="glyphicon glyphicon-search"></i></button> -->
		<div class="input-group-btn">
			<button class="btn btn-sm" (click)="onSearch()" type="submit" color="primary" id="btnSearch">Search</button>
		</div>
 </div>
 